<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fitness India By Vinod Channa </title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
         <link rel="stylesheet" href="css/register.css">
 
      </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Fitness India By Vinod Channa </a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
 
							<span class="li-social">
								<a href="#" target="_blank"><i class="fa fa-facebook"></i></a> 
								<a href="#"><i class="fa fa-twitter"></i></a> 
								<a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a> 
                                
								 
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>NOT REGISTERED? - <strong>BECOME USER TODAY!</h1>
                        <div class="description">
                       	    <p>
                                Fitness Training In India  By  <a href="index.html">Vinod Channa..</a>Get To Know Fitness Mantra!
                                
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                    	<form role="form" action="" method="post" class="f1">

                    		<h3>Register To Our Website</h3>
                    		<p>Fill in the form to get instant access</p>
                    		<div class="f1-steps">
                    			<div class="f1-progress">
                    			    <div class="f1-progress-line" data-now-value="16.66" 
                                    data-number-of-steps="3" style="width: 16.66%;"></div>
                    			</div>
                    			<div class="f1-step active">
                    				<div class="f1-step-icon"><i class="fa fa-user-plus"></i></div>
                    				<p>New Registration</p>
                    			</div>
                    			<div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-rupee"></i></div>
                    				<p>Package</p>
                    			</div>
                    		    <div class="f1-step">
                    				<div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    				<p>Account</p>
                    			</div>
                    		</div>
                            
                             <fieldset>
                                 <div class="form-group">
                                    <label class="sr-only" for="f1-email">Email or Username</label>
                                    <input type="text" name="f1-email" placeholder="Email or Username" class="f1-email form-control" id="f1-email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-password">Password</label>
                                    <input type="password" name="f1-password" placeholder="Password" class="f1-password form-control" id="f1-password">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                                    <input type="password" name="f1-repeat-password" placeholder="Repeat password" 
                                                        class="f1-repeat-password form-control" id="f1-repeat-password">
                                </div>
                                 <div class="form-group">
                                    <label class="sr-only" for="f1-email">Mobile No.</label>
                                    <input type="text" name="f1-email" placeholder="Mobile No." class="f1-email form-control" id="f1-email">
                                </div>
                                
                                <div class="f1-buttons">
                                     <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                    		
                    		

                           <fieldset>
                     			<div class="form-group">
                    			    <label class="sr-only" for="f1-first-name">Select Package</label>
                                      <select name="f1-first-name form-control"  class="f1-first-name" id="f1-first-name">
    <option>Select Package</option>
    <option>Gold</option>
    <option>Sliver</option>
</select> 
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-last-name">Password</label>
                                     <select name="f1-first-name form-control"  class="f1-first-name" id="f1-first-name">
    <option>Select Package Price</option>
    <option>500 Rs.</option>
    <option>2000 Rs.</option>
</select> 
                                </div>
                                
                                        <div class="form-group">
    		<label for="happy" class="col-sm-4 col-md-4 control-label text-left">Regular Workout?</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary1 btn-sm active" data-toggle="happy" data-title="Y">YES</a>
    					<a class="btn btn-primary1 btn-sm notActive" data-toggle="happy" data-title="N">NO</a>
    				</div>
    				<input type="hidden" name="happy" id="happy">
    			</div>
    		</div>
    	</div>
                                 
                                 <div class="f1-buttons">
                                 <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                 <div class="form-group">
                                    <label class="sr-only" for="f1-facebook">First Name</label>
                                    <input type="text" name="f1-facebook" placeholder="First Name" class="f1-facebook form-control" id="f1-facebook">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-twitter">Last Name</label>
                                    <input type="text" name="f1-twitter" placeholder="Last Name" class="f1-twitter form-control" id="f1-twitter">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-google-plus">City</label>
                                   <select name="f1-first-name"  class="f1-first-name" id="f1-first-name">
    <option>Select City</option>
    <option>Nagpur</option>
    <option>Pune</option>
</select> 
                                </div>
                               
                                 <div class="form-group">
                                <select name="f1-first-name"  class="f1-first-name" id="f1-first-name">
    <option>Select Country</option>
    <option>India</option>
    <option>USA</option>
</select> 
</div>
  <div class="form-group">
                                    <label class="sr-only" for="f1-about-yourself">Address</label>
                                    <textarea name="f1-about-yourself" placeholder="Address" 
                                    	                 class="f1-about-yourself form-control" id="f1-about-yourself"></textarea>
                                </div>


 <div class="form-group">
                                    <label class="sr-only" for="f1-facebook">Alternate Mobile No.</label>
                                    <input type="text" name="f1-facebook" placeholder="Alternate Mobile No." class="f1-facebook form-control" id="f1-facebook">
                                </div>
                                
                                 <div class="form-group">
                                    <label class="sr-only" for="f1-facebook">DOB</label>
         <input class="f1-facebook form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="date" style="height:44px;"/>
 
 
                                </div>
                                
								 <div class="form-group">
         <div data-toggle="buttons">
          <label class="btn btn-default1 btn-circle  active checked">
           <input type="radio" name="q1" value="0"><img src="images/male.jpg"></label>
          <label class="btn btn-default1 btn-circle ">       
          <input type="radio" name="q1" value="1"><img src="images/female.jpg"></label>
 
        </div>
      </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                            </fieldset>
                    	
                    	</form>
                    </div>
                </div>
                    
            </div>
        </div>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
     <script>
	 $('#radioBtn a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
})
	 </script>

    </body>

</html>